<header>
    <nav class="navbar navbar-dark bg-primary">
     <div class="container-fluid">
         <a class="navbar-brand" href="/">Placement Cell Dashboard</a>
        <% if(locals.user) { %>
         <a class="navbar-brand" href="/">Hello <%=locals.user.name%></a>
         <form class="d-flex">
             <a class="navbar-brand" href="/company/">Company-Dashboard</a>
             <a class="navbar-brand" href="/users/fetchdata">GET REPORTS</a>
             <a class="navbar-brand" href="/users/SignOut">Signout</a>
         </form>
          <% } %>
    </div>
    </nav>
</header>